body {
    background-color: #eee;
}

.container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #becbf0;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
    padding: 2.5rem;
    border-radius: 10px;
}

.about {
    margin-top: 2rem;
}

h1 {
    text-align: center;
}

.btn-primary{
    width: 100%;
}
